table{
    background-color: rgb(121, 100, 172);
}
#name {
     background-color: brown;
     font-size: 40px;
     color:rgb(43, 15, 202);
}
h2{
    background-color: rgb(13, 200, 224);
    color:darkblue;
    
}